 html{
  scroll-behavior: smooth;
 }
 .dashboard {
    display: grid;
    grid-template-columns: 250px 1fr;
  }

  aside {
    background: #161b22;
    border-radius: 12px;
    padding: 1rem;
  }

  .course-card {
    background: #0d1117;
    border: 1px solid #30363d;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    gap: 0.5rem;
  }


  input[type="file"] {
    border: 1px dashed #444c56;

    cursor: pointer;
  }
  .new_course {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: #238636;
    color: white;
    border-radius: 6px;
    text-decoration: none;
  }
  .role{
    border-radius: 8px;
    padding: 0.2rem 0.5rem;
    font-weight: 600;
    height: fit-content
  }
  .row{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
.course-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}
.courses{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 1rem;
}
@media (max-width: 768px) {
  
    aside {
      border-radius: 0;
      padding: 0.5rem;
    }
    .courses{
      grid-template-columns: 1fr;
    }
  }
  .error-message {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
    margin-bottom: 15px;
    padding: 10px;
    color: #a94442;
  }


*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: rgba(10, 15, 25, 0.9);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #00c6ff 0%, #0072ff 100%);
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 136, 255, 0.6);
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

*::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #00e0ff 0%, #3399ff 100%);
  box-shadow: 0 0 12px rgba(0, 170, 255, 0.9);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #0099ff rgba(10, 15, 25, 0.9);
}

.mint-btn {
  width: 300px;
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
